@import url('https://fonts.googleapis.com/css?family=Open+Sans|Philosopher|Roboto&display=swap');
nav {
  font-family: Philosopher, sans-serif;
}


/* Remove bullet points from navigation bar. */

nav ul {
  list-style-type: none;
  padding-left: 0;
}


/* Keep navigation menu on one line. */

nav li {
  display: inline-block;
  margin-right: 10px
}

header img {
  height: 50px;
  margin-left: 10px;
}

header {
  background-color: brown;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: aliceblue;
  text-decoration: none;
}

ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 16px;
  transition: 0.5s;
}

ul:hover li a {
  transform: scale(1.2);
  opacity: 0.2;
  filter: blur(5px);
}

ul li a:hover {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0);
  color: aliceblue;
  text-decoration: none;
}
